<form [formGroup]="filterForm">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name" />
    </mat-form-field>
    <ng-container formGroupName="noDebounce">
      <mat-checkbox formControlName="onlyAvailable"
        >Only available pokemons</mat-checkbox
      >
      <mat-form-field appearance="outline">
        <mat-select formControlName="types" placeholder="Types" multiple>
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div fxFlex="20">
        <ngx-slider
          [options]="options"
          formControlName="unitPrice"
        ></ngx-slider>
        {{ options.ceil }} {{ options.floor }}
      </div>
    </ng-container>
  </div>
</form>
