    <mat-card
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex="45"
    >
      <mat-card-title>{{ pokemonData.pokemon.name }} </mat-card-title>
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div>{{ pokemonData.unitPrice }}€</div>
          <div>{{ pokemonData.quantity }} remaining</div>
        </div>
      </mat-card-content>

      <mat-card-actions>
              <button mat-raised-button color="primary" (click)="onAddToCart()">Add to cart</button>

      </mat-card-actions>
    </mat-card>