<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
  <div fxLayout="column" fxFlex="65">
    <form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
        <mat-form-field appearance="outline">
          <mat-label for="name">Card Number</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="cardNumber"
            required
            name="cardNumber"
            formControlName="cardNumber"
            appAutofocus
          />
          <mat-error
            *ngIf="
              !checkoutForm.controls.cardNumber.valid ||
              !checkoutForm.controls.cardNumber.pristine
            "
            >Card Number is required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="name">CVV</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="cardCVV"
            required
            name="cardCVV"
            formControlName="cardCVV"
          />

          <mat-error
            *ngIf="
              !checkoutForm.controls.cardCVV.valid ||
              !checkoutForm.controls.cardCVV.pristine
            "
            >Card CVV is required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="name">Card Owner</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="cardOwner"
            required
            name="cardOwner"
            formControlName="cardOwner"
          />

          <mat-error
            *ngIf="
              !checkoutForm.controls.cardOwner.valid ||
              !checkoutForm.controls.cardOwner.pristine
            "
            >Card owner is required</mat-error
          >
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!checkoutForm.valid"
        >
          Pay
        </button>

        <!-- Loading and error components after submitting -->
        <app-loading-or-error
          [requestStatus]="requestStatus"
          errorMessage="Error with checkout"
        ></app-loading-or-error>
      </div>
    </form>
  </div>

  <div fxFlex>
    <app-cart-sumup [storeId]="storeId"></app-cart-sumup>
  </div>
</div>
