<div fxLayout="column" fxFlexFill>
  <ng-container *ngIf="storeAndPokesData">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
      <h1>Welcome to store {{ storeAndPokesData.name }}</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
      <span>{{ storeAndPokesData.location }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
      <h3>Time to get some pokemons !</h3>
    </div>
  </ng-container>

  <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="20px grid"
      fxFlex="90"
    >
      <ng-container *appRenderOrSpinner="storeAndPokesData">
        <app-pokemon-card
          fxFlex="22"
          *ngFor="let poke of storeAndPokesData.availablePokemons"
          [availablePokemonData]="poke"
          [storeId]="storeId"
          (addPokemon)="onAddPokemon($event)"
        ></app-pokemon-card>
      </ng-container>

      <!-- <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <app-loading [asyncStatus]="status"></app-loading>
      </div> -->
    </div>

    <div fxLayout="row" fxFlex>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
        <app-cart-sumup [storeId]="storeId"></app-cart-sumup>

        <div fxFlex>
          <a [routerLink]="['/stores/', storeId, 'cart']" style="width: 100%">
            <button style="width: 100%" mat-flat-button color="warn">
              Go to cart
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
