<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    Welcome to store {{ storeData.name }}
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    Time to get some pokemons !
  </div>
  {{ storeData.location }}
  <div
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    fxFlexFill
  >
    <app-pokemon-card fxFlex="45" *ngFor="let poke of storeData.availablePokemons" [availablePokemonData]="poke" [storeId]="storeId"></app-pokemon-card>
  </div>
</div>
